*, *::before, *::after {
    box-sizing: border-box;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.invalid {
    background-color: rgba(255, 99, 71, 0.15);
    color: tomato;
    border: 1px solid tomato;
}

.invalid::placeholder {
    color: tomato;
}
